<!-- import Highcharts + Chartkick libraries -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<!-- TODO remove chartkick dep -->
<script src="https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js"></script>

<div class="view view--full">
    <div class="layout layout--col gap--space-between">
        <div class="grid grid--cols-3">
            <div class="item">
                <div class="meta"></div>
                <div class="content">
                    <span class="value value--tnums">{{ current }} kg</span>
                    <span class="label">Aktualna</span>
                </div>
            </div>
            <div class="item">
                <div class="meta"></div>
                <div class="content">
                    <span class="value value--tnums">{{ average }} kg</span>
                    <span class="label">Średnia tygodniowa</span>
                </div>
            </div>
            <div class="item">
                <div class="meta"></div>
                <div class="content">
                    <span class="value value--tnums">{{ change }} kg</span>
                    <span class="label">Zmiana tygodniowa</span>
                </div>
            </div>
        </div>

        <div id="chart-123" style="width: 100%"></div>
    </div>

    <div class="title_bar">
        <img class="image" src="https://libra-app.eu/images/icon-512.png" />
        <span class="title">Libra Cloud</span>
        <span class="instance">{{ timestamp }} api.libra-app.eu</span>
    </div>
</div>

<script type="text/javascript">

    function formatDateLabel(dateString) {
        let date = new Date(dateString);

        return date.toLocaleDateString('pl-PL', {
            month: 'short',
            day: '2-digit'
        });
    }

    const v_categories = [];
    const v_linedata = [];
    const v_rangedata = [];

    {% for item in weights %}
        v_categories.push(formatDateLabel("{{ item.date }}"));
        v_linedata.push({{ item.trend }});
        v_rangedata.push([{{ item.trend }}, {{ item.weight }}]);
    {% endfor %}

    let minValue = Infinity;
    let maxValue = -Infinity;

    v_rangedata.forEach(subArray => {
        subArray.forEach(value => {
            if (value < minValue) {
                minValue = value;
            }
            if (value > maxValue) {
                maxValue = value;
            }
        });
    });

    const yMin = minValue - 0.1
    const yMax = maxValue + 0.1;

    var createChart = function() {
        Highcharts.chart('chart-123', {
            chart: {
                type: 'columnrange',
                height: 260
            },
            title: {
                text: ''
            },
            yAxis: [
                {
                    labels: {
                        style: {
                            fontSize: "16px",
                            color: "#000000"
                        }
                    },
                    gridLineDashStyle: "shortdot",
                    gridLineWidth: 1,
                    gridLineColor: "#000000",
                    tickAmount: 14,
                    min: yMin,
                    max: yMax,
                    title: null
                },
                {
                    opposite: true,
                    labels: {
                        style: {
                            fontSize: "16px",
                            color: "#000000"
                        }
                    },
                    tickAmount: 14,
                    min: yMin,
                    max: yMax,
                    title: null
                }
            ],
            xAxis: {
                categories: v_categories,
                labels: {
                    style: {
                        fontSize: "16px",
                        color: "#000000"
                    }
                },
                lineWidth: 0,
                gridLineDashStyle: "dot",
                tickWidth: 1,
                tickLength: 0,
                gridLineWidth: 1,
                gridLineColor: "#000000",
                tickPixelInterval: 15
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                columnrange: {
                    pointWidth: 2,
                    borderWidth: 0
                },
                series: {
                    animation: false,
                    lineWidth: 4
                }
            },
            series: [
                {
                    name: '',
                    data: v_rangedata,
                    type: 'columnrange',
                    color: '#000000'
                },
                {
                    name: '',
                    data: v_linedata,
                    type: 'spline',
                    color: 'black',
                    marker: {
                        enabled: false
                    }
                }
            ],
            credits: {
                enabled: false
            },
        });
    };

    if ("Chartkick" in window) {
        createChart();
    } else {
        window.addEventListener("chartkick:load", createChart, true);
    }

</script>